a,
div {
    transition: .2s;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

a::selection,
img::selection,
span::selection,
p::selection,
h1::selection,
h2::selection,
h3::selection,
li::selection {
    background: #F85250;
    color: white;
}

body,
html {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
}

.top {
    max-width: 100%;
    margin: auto;
    width: 1244px;
}

.under {
    max-width: 100%;
    margin: auto;
    width: 1244px;
}

.nav-box {
    opacity: 0.9;
    backdrop-filter: blur(2px) contrast(100%);
    box-shadow: 0 2px 0 #F0F2F6;
    position: fixed;
    width: 100%;
    background-color: #FAFAFD;
    height: 60px;

    z-index: 999;
    max-width: 125%;
}

.nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 60px;
    max-width: 1400px;
    width: 90%;

}

.nav_logo {
    display: inline;
    position: absolute;
    height: 60px;
    line-height: 58px;
    left: -5px;
}

.nav_right {
    display: inline;
    position: absolute;
    height: 64px;
    line-height: 62px;

    left: 50%;
    overflow: hidden;

}

.nav_logo>img {
    vertical-align: middle;
    display: inline-block;

    width: 125px;
    border-style: none;
}

.nav_right a:hover {
    color: #F85250;
    border-bottom: #F85250 solid 3px;
    padding-bottom: 16px;
}

/*.nav_right a:focus{*/
/*    border-bottom:#F85250 solid ;*/
/*}*/
.nav_right>ul {
    margin: 0;


}

.nav_right>ul li {
    height: 64px;
    margin: 0 21px;

    float: left;
    justify-content: center;
}

.nav_right>ul>li a {

    color: #262626;
    text-decoration: none;
    font-size: 14px;
}


/*主体*/
.container {
    position: relative;
    left: 40%;
    transform: translate(-50%, 0);
    text-align: center;
    float: left;
    margin-left: 10%;
    margin-top: 60px;
}



.download-version {
    max-width: 330px;
    text-align: left;
    height: 288px;
    display: none;
    z-index: 1000;
    width: 260px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-sizing: border-box;
    position: absolute;
    top: 400px;
    left: 48%;
    transform: translate(-200px, 0);

    box-shadow: 0 8px 32px rgb(0 0 0 / 4%);
}

.download-version li {
    font: 15px -apple-system;
    color: #262626;
    margin-left: -40px;
    padding-left: 20px;
    height: 30px;

}

.download-version li:hover {
    background-color: #F5F5F5;
}

@keyframes downloadVersion-in {
    from {
        height: 0;
        /*opacity: 0;*/
        display: none;
    }

    to {
        height: 288px;
        display: block;
    }
}

@keyframes downloadVersion-out {
    from {
        height: 288px;
        display: block;
    }

    to {
        height: 0;
        display: none;
    }
}

    {}

.header_H1 {
    background-image: url("https://cdn.apifox.cn/www/assets/image/index/hero-bottom-bg.png");
    background-repeat: no-repeat;
    margin-top: 75px;
}

.header_H1>.header_title {
    color: #000000;
    font: 68px -apple-system, BlinkMacSystemFont;
    margin: 0 0 16px;
    padding: 0 0 11px;
    font-family: sans-serif;
    font-weight: 600;
}

.header_H1>:nth-child(2) {
    color: black;
    margin: 0 0 12px;
    padding: 11px 0 0;
    font: 30px -apple-system, BlinkMacSystemFont;
}

.header_H1>:nth-child(3) {
    color: #181819B3;
    font: 14px -apple-system, BlinkMacSystemFont;
    margin: 0 0 24px;
    padding: 11px 0 0;
}

.button-area {
    padding: 0 0 60px;
    display: flex;
    /*flex-wrap: wrap;*/
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}



.drop>a {

    display: block;
    height: 44.67px;
    width: 180px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 1px 2px #bbb;
    display: none;
    line-height: 44.67px;
    font-size: 12px;

}

.drop {

    position: absolute;


}


#window-download:hover .drop a {
    display: block;

}

.drop a:hover {
    color: red;
}





.ant-dropdown-trigger {
    padding: 12px 17px;
    display: flex;
}

.button-desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 17px;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    background-image: linear-gradient(45deg, #ff387e 6.54%, #ff386d 21.35%, #f44a53 64.03%, #f35e3a 92.78%);
}

.use-web {
    background-color: white;
    margin-left: 30px;
    border-radius: 5px;
    border: #F44A53 solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    font-size: 16px;
    color: #F5646C;
    cursor: pointer;


}

.use-web>p {
    float: left;
    margin: 11px 0;
    width: 130px;
}

.button-web-beta {
    border-color: #f44a53 #f44a53 transparent transparent;
    border-top-right-radius: 5px;
    border-style: solid;
    border-width: 16px;
    margin-left: -30px;
    margin-bottom: 11.5px;
}

.button-web-beta-text {
    transform: rotate(45deg);
    float: right;
    color: white;
    font: 12px -apple-system;
    margin-bottom: 20px;
    margin-left: -24px;
}

/*滑动窗口 (轮播图）*/
.slide-img {
    z-index: 998;
    width: 100%;

    position: relative;
    left: 50%;
    transform: translate(-50%, 0);

    height: 920px;
    float: left;
    margin: 30px 0;
    /*overflow: hidden;*/
}

/*上方大图*/
.large-img {

    position: relative;
    overflow: hidden;
    float: left;
    width: 100%;
    height: 950px;
    object-fit: contain;
}

.full-scree {
    z-index: 9;
    position: absolute;
    top: 80%;
    left: 95.5%;
    color: white;
    font-size: 30px;
    transition: 0.5s;
}

.full-scree:hover {
    opacity: 0;
}

.bt-left,
.bt-right {
    z-index: 9;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 50%;
    background-color: #E6E7E9;
    border: #E6E7E9 solid 15px;
    color: #A4A4A6;
    cursor: pointer;
}

.bt-right {
    transform: translate(1246px, 0);
}

.bt-left {
    transform: translate(-46px, 0);
}

.bt-left:hover,
.bt-right:hover {
    font-size: 18px;
}

.img-list {
    width: 1600%;
    display: flex;
    position: relative;
    left: 0;
    transition: .2s;
    height: 100%;
    list-style: none;

}

.img {
    transform: translateX(-41px);
    width: 100%;
    height: 81.5%;
    background-size: cover;
}

.img:nth-child(1),
.small-img:nth-child(1) {
    background-image: url(http://111.230.33.57:8888/089d0ecafdfe9ef56747.png);
    border-radius: 10px;

}

.img:nth-child(2),
.small-img:nth-child(2) {
    border-radius: 10px;
    background-image: url(http://111.230.33.57:8888/d0b4fd74c7e7724033eb.png);
}

.img:nth-child(3),
.small-img:nth-child(3) {
    border-radius: 10px;
    background-image: url(http://111.230.33.57:8888/87be54d4588705e61c0d.png);
}

.img:nth-child(4),
.small-img:nth-child(4) {
    border-radius: 10px;
    background-image: url(http://111.230.33.57:8888/9ecd0f2d11c7cebe1eb4.png);
}

.img:nth-child(5),
.small-img:nth-child(5) {
    border-radius: 10px;
    background-image: url(http://111.230.33.57:8888/d17abdaaa91d8e6cd3cd.png);
}

.img:nth-child(6),
.small-img:nth-child(6) {
    border-radius: 10px;
    background-image: url(http://111.230.33.57:8888/cc3d88daf9f003defbfb.png);
}

.img:nth-child(7),
.small-img:nth-child(7) {
    border-radius: 10px;
    background-image: url(http://111.230.33.57:8888/65bd6af58e60cde2f565.png);
}

.img:nth-child(8),
.small-img:nth-child(8) {
    border-radius: 10px;
    background-image: url(http://111.230.33.57:8888/d10f185c40a721e44864.png);
}

.img:nth-child(9),
.small-img:nth-child(9) {
    border-radius: 10px;
    background-image: url(http://111.230.33.57:8888/af9e664e09393b696588.png);
}

.img:nth-child(10),
.small-img:nth-child(10) {
    border-radius: 10px;
    background-image: url(http://111.230.33.57:8888/6d55fdf2b41b58cf69f7.png);
}

.img:nth-child(11),
.small-img:nth-child(11) {
    border-radius: 10px;
    background-image: url(http://111.230.33.57:8888/32d48f34c96182c6cef4.png);
}

.img:nth-child(12),
.small-img:nth-child(12) {
    border-radius: 10px;
    background-image: url(http://111.230.33.57:8888/beeec999743535215258.png);
}

.img:nth-child(13),
.small-img:nth-child(13) {
    border-radius: 10px;
    background-image: url(http://111.230.33.57:8888/6413849859b3af9c8733.png);
}

.img:nth-child(14),
.small-img:nth-child(14) {
    border-radius: 10px;
    background-image: url(http://111.230.33.57:8888/f3b69edc5e4458d3c945.png);
}

.img:nth-child(15),
.small-img:nth-child(15) {
    border-radius: 10px;
    background-image: url(http://111.230.33.57:8888/d592aaf325ea901a3387.png);
}

.img:nth-child(16) {
    border-radius: 10px;
    background-image: url(http://111.230.33.57:8888/089d0ecafdfe9ef56747.png);
}

.small-img-shell {

    position: absolute;

    top: 86.5%;
    overflow: hidden;
    float: left;
    width: 100%;
    height: 100px;
    object-fit: contain;
}

.small-img-list {

    /*width: ;*/
    display: flex;
    position: absolute;
    width: 2100px;
    transition: .2s;
    height: 90px;
    list-style: none;

}

.small-img {
    transform: translateX(-57px);
    margin-left: 15px;
    width: 120px;
    height: 70px;
    border: white solid 5px;
    border-radius: 5px;
    background-size: cover;
}

/*功能*/
.home-page {
    z-index: -1;
    width: 100%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.main-object {
    float: left;
    margin-bottom: 120px;
    position: relative;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.object-box {
    width: 200px;
}

.object-box-iv {
    opacity: 0;
    position: absolute;
    display: flex;
    width: 220px;
    transform: translateX(-5px);
    color: #8C8C8C;
    font-size: 14px;
    height: 50px;
    border-radius: 5px;

}

.object-box-iv span:nth-child(1) {
    transform: translateY(22px);
}

.object-box-iv:hover {
    opacity: 1;
    /*color: #F5535C;*/
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.object-box-iv-cl:hover {
    color: #F5535C;
}

.object-box-iv div span:nth-child(1) {
    font-size: 20px;
    margin-top: -5px;
}

/*.object-box-iv:nth-child(2),*/
/*.object-box-iv:nth-child(3),*/
/*.object-box-iv:nth-child(4){*/
/*    transform: translateX(38px);*/
/*}*/
.main-object img {
    width: 48px;
    height: 48px;
    vertical-align: center;
    margin-left: 26px;
}

.main-object div {
    text-align: center;
    flex-grow: 0.2;
    cursor: pointer;
    display: flex;
    margin: 0 5px;
}

.main-object span:nth-child(2) {
    margin-top: 15px;
    margin-left: 5px;
    font: 18px -apple-system;
}

.header_title2 {
    /*margin-top: 150px;*/
    font-size: 36px;
    font-family: sans-serif;
    font-weight: 600;
}


.detail {
    display: flex;
    flex-wrap: wrap;
}

.small-icon {
    font-size: 38px;
    color: white;
    border-radius: 10px;

}

.detail-box {
    padding: 40px 20px 32px;
    vertical-align: baseline;
    background: #ffffff;
    box-shadow: 0 8px 32px rgb(0 0 0 / 4%);
    border-radius: 8px;

    margin: 35px 50px;
    width: 470px;

    /*阴影*/
    /*filter: drop-shadow(*/
    /*        1px 3px 9px hsl(220deg 60% 50%)*/
    /*);*/
}

.detail-box span {
    margin-left: 40px;
    float: left;
    width: 40px;
    height: 40px;
    margin-top: -11px;
}

.detail-box h3 {
    margin-bottom: -20px;
    transform: translate(25px, -28px);
    color: black;
    font: 20.8px -apple-system;
}

.detail-box li {
    color: #12141C80;
    font: 14px -apple-system;
}

.learn-more {
    display: flex;
    justify-content: center;
    margin: 60px auto;
    position: relative;
    z-index: 980;
}

.learn-more a {
    transform: translateY(0);
    transition: transform 0.2s;
    padding-left: 8px;
    color: rgba(24, 24, 25, 0.7);
    border: 1px solid #e6e7e9;
    border-radius: 70px;
    font-size: 15px;
    width: 240px;
    display: block;
    line-height: 60px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    outline: none;
}

.learn-more a:hover {
    color: #F85250;
    border: 1px solid #F85250;
    transform: translateY(-10px);
}




.apihub-wrapper {
    position: relative;
    width: 100%;
    margin: auto;

    background: #f8f8fa;

    padding: 120px 0 96px;
    flex-wrap: wrap;

}

.apihub-title h2 {
    width: 100%;
    height: 50px;
    font-weight: 600;
    font-size: 36px;
    line-height: 50px;
    text-align: center;
    padding-bottom: 0;
}

.apihub-title p {
    height: 26px;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: rgba(24, 24, 25, .42);
    margin-bottom: 0;
}

.apihub-title {
    margin-bottom: 60px;
    font-family: sans-serif;
}

.apihub-card-wrapper {
    display: flex;
    flex-grow: 0.3;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.api-card {
    max-height: 212px;
    width: 310px;
    background: #ffffff;
    padding: 24px;
    border-radius: 8px;
    margin-right: 24px;
    margin-bottom: 24px;
    position: relative;
}

.api-card:hover .invisible {
    z-index: 22;
}

.visible-title {
    display: inline-block;
    color: #181819;
    font: 18px -apple-system;
}

.visible-title span {
    float: left;
}

.visible-title span:nth-child(2) {
    float: left;
    margin-top: 15px;

}

.visible-title img {
    width: 56px;
    height: 56px;
    line-height: 56px;
    object-fit: cover;
    font-size: 18px;
    margin-right: 16px;
    outline: 1px solid #f8f8f6;
}

.visible-description {
    display: block;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
    height: 54px;
    color: rgba(24, 24, 25, .42);
    margin-bottom: 26px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.visible div:nth-child(3) {
    color: rgba(24, 24, 25, .42);
    font-size: 16px;
}

.visible div:nth-child(3) span:nth-child(3),
.visible div:nth-child(3) span:nth-child(1) {
    font-size: 24px;
}

.visible div:nth-child(3) span:nth-child(3) {
    margin-left: 30px;
}

.invisible {
    transition: 0s;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 65px;
    margin: -193px 0 30px -25px;
    position: absolute;
    border-radius: 10px;
    z-index: -1;
    display: flex;
    flex-grow: 0.5;
    float: left;
    text-align: center;
    cursor: pointer;
    color: #666666;
    font-size: 14px;
    padding: 75px 0;
}

.invisible span {
    font-size: 30px;
}

.invisible-left {
    padding: 75px 0;
    margin: -75px 0;
    width: 50%;
    border-right: #F7F7F7 solid 1px;
}

.invisible-left:hover {
    color: #F5535C;
}

.invisible-right:hover {
    color: #F5535C;
}

.invisible-right {
    padding: 75px 0;
    margin: -75px 0;
    width: 50%;
    border-left: #F7F7F7 solid 1px;
}

.invisible span img {
    width: 30px;
}


.browse-more {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.browse-more div div {
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    color: #181819;
    margin-right: 14px;
}

.browse-more:hover {
    box-shadow: 2px 4px 8px #999999;
}





.who-use {
    position: relative;
    text-align: center;
    width: 100%;
    background: #ffffff;
}

.who-use h1 {
    margin-top: 80px;
    margin-bottom: .5em;
    color: rgba(0, 0, 0, .85);
    font-weight: 600;
    font-size: 38px;
    line-height: 1.23;
}

.who-use span {
    display: block;
    color: rgba(0, 0, 0, .45);
    overflow-wrap: break-word;
}

.who-use img {
    display: block;
    width: 100%;
    height: auto;
    margin-top: 48px;
    vertical-align: middle;
    border-style: none;
}

.who-use span:nth-child(2) {
    font: 14px -apple-system;
    margin-top: 20px;
    color: rgba(41, 45, 52, .32);
    display: block;
}

.price {
    position: relative;
    width: 80%;
    margin-left: 10%;
    margin-top: 120px;
    margin-bottom: 120px;
    text-align: center;
}

.price h2 {
    font: 36px -apple-system;
    font-weight: 600;
    line-height: 50px;
    margin-bottom: 20px;
}

.price-box {
    display: flex;
}

.price-box1,
.price-box2 {
    width: 400px;
    background: linear-gradient(90deg,
            rgba(253, 106, 79, .02), rgba(252, 158, 35, .02));
    box-shadow: 0 8px 16px rgb(253 122 67 / 8%);
    margin: 0 45px;
    border-radius: 16px;
}

.price-box1 div:nth-child(1) {
    background: linear-gradient(90deg, #fd6a4f, #fc9e23);
    height: 124px;
    margin-top: -22px;
    border-radius: 16px 16px 0 0;
}

.price-box1 div:nth-child(1) h1 {
    border: none;
    color: #fff;
    padding-top: 24px;
    font-weight: 600;
    font-size: 32px;
    line-height: 45px;
    text-align: center;
    padding-bottom: 8px;
    margin-bottom: 0;
}

.price-box1 div:nth-child(1) span {
    border: none;
    color: #fff;
    font-size: 18px;
    line-height: 22px;
}

.price-box1 li,
.price-box2 li {
    text-align: left;
    margin: 15px 0 15px 34%;
    color: #181819B3;
    font-size: 17px;
}

.price-box1 li span:nth-child(1),
.price-box2 li span:nth-child(1) {
    font-size: 19px;
    margin-right: 15px;
}

.price-box1 p span:nth-child(1),
.price-box2 p span:nth-child(1) {
    width: 16px;
    height: 16px;
}

.price-box1 input {
    background-image: linear-gradient(90deg, #fd6a4f, #fc9e23);
    transform: translateY(0);
    transition: transform .2s;
    padding: 0 24px;
    border-radius: 1000px;
    width: 128px;
    height: 40px;
    color: white;
    margin-bottom: 20px;
    border: none;
}

input[type=button]:hover {
    transform: translateY(-3px);

}

/*2*/
.price-box2 div:nth-child(1) {
    background: linear-gradient(90deg, #e0eafc, #cfdef3);
    width: 100%;
    height: 124px;
    margin-top: -22px;
    border-radius: 16px 16px 0 0;
}

.price-box2 h1 {
    border: none;
    color: #181819B3;
    padding-top: 24px;
    font-weight: 600;
    font-size: 32px;
    line-height: 45px;
    text-align: center;
    padding-bottom: 8px;
    margin-bottom: 0;
}

.price-box2 div:nth-child(1) span {
    border: none;
    color: #181819B3;
    font-size: 18px;
    line-height: 22px;
}

.price-box2 input {
    background-image: linear-gradient(90deg, #e0eafc, #cfdef3);
    transform: translateY(0);
    transition: transform .2s;
    padding: 0 24px;
    border-radius: 1000px;
    width: 128px;
    height: 40px;
    margin-bottom: 20px;
    border: none;
}


.wavy {
    background: url("images/微信图片_20230713145149.png");
    position: relative;
    background-size: cover;
    height: 120px;
}

.footer {
    background: #181819;
    display: block;
    padding: 0 0 40px 0;
}

.footer div:nth-child(1) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 0 44px;
    height: 100%;
    max-width: 1244px;
    position: relative;
    margin: auto;
    will-change: transform;
}

.block1,
.block2 {
    /*flex: 0 1 250px;*/
    padding: 0;
    line-height: 23px;
    font-size: 16px;
    margin: 0;
    /*flex-direction: column;*/
    /*display: flex;*/
    /*align-items: baseline;*/
    flex-grow: 0.25;
}

.block1 {
    transform: translateY(-80px);
}

.block1 img {
    transform: translateX(-95px);
    width: 110px;
    height: auto;
    margin-bottom: 20px;
}

.block1 p {
    position: absolute;
    color: #999999;
    font: 16px -apple-system;
    margin-top: 50px;
}

.block2>h3 {
    margin-top: -5px;
    margin-bottom: 24px;
    color: #ffffff;

    transform: translateX(104px);
}

.block2 a {
    display: block;
    transform: translateX(104px);
    /*float: left;*/
    /*clear: both;*/
    margin-bottom: 16px;
    color: hsla(0, 0%, 100%, .7);
    font-weight: 400;
}

.divider {
    width: 100%;
    border: #626263 solid 1px;
}

.friend-link {
    width: 100%;
    color: #999999;
    font-size: 16px;
    margin-top: 64px;
    margin-bottom: 24px;
    text-align: center;
    line-height: 20px;
}

.friend-link a {
    margin-left: 16px;
    font-style: normal;
    color: #999999;
}