.under {
  max-width: 100%;
  margin: auto;
  width: 1244px;
}
.many-user {
  position: relative;
  text-align: center;
  width: 100%;
  background: #ffffff;
}
.many-user h1 {
  margin-top: 80px;
  margin-bottom: 0.5em;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 600;
  font-size: 38px;
  line-height: 1.23;
}
.many-user span:nth-child(2) {
  font: 14px -apple-system;
  margin-top: 20px;
  color: rgba(41, 45, 52, 0.32);
  display: block;
}
.many-user span {
  display: block;
  color: rgba(0, 0, 0, 0.45);
  overflow-wrap: break-word;
}
.many-user img {
  display: block;
  width: 100%;
  height: auto;
  margin-top: 48px;

  border-style: none;
}
.price {
  position: relative;
  width: 80%;
  margin-left: 10%;
  margin-top: 120px;
  margin-bottom: 120px;
  text-align: center;
}
.price h2 {
  font: 36px -apple-system;
  font-weight: 600;
  line-height: 50px;
  margin-bottom: 20px;
}
.price-box {
  display: flex;
}
.price-box1,
.price-box2 {
  width: 400px;
  background: linear-gradient(
    90deg,
    rgba(253, 106, 79, 0.02),
    rgba(252, 158, 35, 0.02)
  );
  box-shadow: 0 8px 16px rgb(253, 122, 67, 0.1);
  margin: 0 45px;
  border-radius: 16px;
  border: 1px solid #fd8736;
}
.price-box1 div:nth-child(1) {
  background: linear-gradient(90deg, #fd6a4f, #fc9e23);
  height: 124px;
  margin-top: -22px;
  border-radius: 16px 16px 0 0;
}
.price-box1 div:nth-child(1) h1 {
  border: none;
  color: #fff;
  padding-top: 24px;
  font-weight: 600;
  font-size: 32px;
  line-height: 45px;
  text-align: center;
  padding-bottom: 8px;
  margin-bottom: 0;
}
.price-box1 div:nth-child(1) span {
  border: none;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
}
.price-box1 li,
.price-box2 li {
  list-style: none;
  text-align: left;
  margin: 15px 0 15px 34%;
  color: #181819b3;
  font-size: 17px;
}
.price-box1 ul li span:nth-child(1),
.price-box2 li span:nth-child(1) {
  font-size: 19px;
  margin-right: 15px;
}
.price-box1 input {
  background-image: linear-gradient(90deg, #fd6a4f, #fc9e23);
  transform: translateY(0);
  transition: transform 0.2s;
  padding: 0 24px;
  border-radius: 1000px;
  width: 128px;
  height: 40px;
  color: white;
  margin-bottom: 20px;
  border: none;
}
.price-box2 div:nth-child(1) {
  background: linear-gradient(90deg, #e0eafc, #cfdef3);
  width: 100%;
  height: 124px;
  margin-top: -22px;
  border-radius: 16px 16px 0 0;
}
.price-box2 h1 {
  border: none;
  color: #181819b3;
  padding-top: 24px;
  font-weight: 600;
  font-size: 32px;
  line-height: 45px;
  text-align: center;
  padding-bottom: 8px;
  margin-bottom: 0;
}
.price-box2 div:nth-child(1) span {
  border: none;
  color: #181819b3;
  font-size: 18px;
  line-height: 22px;
}
.price-box2 input {
  background-image: linear-gradient(90deg, #e0eafc, #cfdef3);
  transform: translateY(0);
  transition: transform 0.2s;
  padding: 0 24px;
  border-radius: 1000px;
  width: 128px;
  height: 40px;
  margin-bottom: 20px;
  border: none;
}
.price-box1 input:hover {
  transform: translate(0, -5px);
}
.price-box2 input:hover {
  transform: translate(0, -5px);
}

