@font-face {
  font-family: "iconfont"; /* Project id 4150841 */
  src: url('iconfont.woff2?t=1688560382888') format('woff2'),
       url('iconfont.woff?t=1688560382888') format('woff'),
       url('iconfont.ttf?t=1688560382888') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shuben:before {
  content: "\e60d";
}

.icon-xiangmu:before {
  content: "\e63a";
}

.icon-youjiantou:before {
  content: "\e62c";
}

.icon-yanjing:before {
  content: "\e661";
}

.icon-xiajiantou:before {
  content: "\e642";
}

.icon-xinghao:before {
  content: "\e662";
}

.icon-xiazai:before {
  content: "\e652";
}

.icon-shuju:before {
  content: "\e694";
}

.icon-jicheng-A:before {
  content: "\e616";
}

.icon-tuanduixiezuox:before {
  content: "\e63f";
}

.icon-jiekou:before {
  content: "\e638";
}

.icon-daima:before {
  content: "\e618";
}

.icon-daorudaochu:before {
  content: "\e6a9";
}

.icon-ceshi:before {
  content: "\e669";
}

.icon-data-Inquire-full:before {
  content: "\e93f";
}

.icon-tiaoshi:before {
  content: "\e75f";
}

.icon-wendang:before {
  content: "\e6e5";
}

